.color-animation {
  --color-from: var(--color-text);
  --color-to: var(--color-heading);
  animation: color-change 3s infinite;
}

@keyframes color-change {
  0% { color: var(--color-from); }
  50% { color: var(--color-to); }
  100% { color: var(--color-from); }
}